project
target
.idea
SparkKafkaStreaming/.idea
TwitterKafkaProducer/project
TwitterKafkaProducer/target
TwitterKafkaProducer/TwitterKafkaProducer.iml
TwitterKafkaProducer/src/main/resources/twitterLogin.txt